.user-component__subtitle{
    position:relative;
}
.badge-more{
    position:absolute;
    right:-20px;
    bottom:-2px;
    width:15px;
    height:15px;
    background-color: white;
    color:tomato;
    border: 1px solid red;
    text-align: center;
}
.more-screen .icon-row{
    margin-top:35px;
}
.more-suggestions{
    margin-top:50px;
    border-top:var(--main-border);
    padding-top:40px;   
}
.more-suggestions-title{
    margin-bottom:30px;
}
.more-suggestions__icons{
    display:flex;
    margin-bottom: 100px;
}
.more-suggestions__icon{
    margin-right:30px;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.more-suggestions__icon-image{
    width:60px;
    height:60px;
    background-color:var(--yellow);
    color:white;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
    margin-bottom: 10px;
}